<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/chat.css" />
    <title>ESPEChat</title>
  </head>
  <body>
    <header>
      <h1>ESPEChat</h1>
    </header>
    <main>
      <div id="all-messages">
        <div class="message">
          <div class="image-container">
            <img src="/img/paulo.png" alt="" />
          </div>
          <div class="message-body">
            <div class="user-info">
              <span class="username">Paulo</span>
              <span class="time">10:30 AM</span>
              <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                Repudiandae aliquam ex ipsa odit optio? Quisquam commodi,
                obcaecati quod quia ratione libero itaque veritatis sequi
                distinctio id suscipit sapiente dignissimos iusto.
              </p>
            </div>
          </div>
        </div>
        <div class="message">
          <div class="image-container">
            <img src="/img/paulo.png" alt="" />
          </div>
          <div class="message-body">
            <div class="user-info">
              <span class="username">Paulo</span>
              <span class="time">10:30 AM</span>
              <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                Repudiandae aliquam ex ipsa odit optio? Quisquam commodi,
                obcaecati quod quia ratione libero itaque veritatis sequi
                distinctio id suscipit sapiente dignissimos iusto.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="send-message">
        <input type="text" id="message" />
        <button id="send-message" class="btn secondary">Enviar</button>
      </div>
    </main>
    <p>Bienvenido a ESPEChat, la aplicación de chat en tiempo real.</p>
    <script src="/socket.io/socket.io.js"></script>
    <script src="js/script.js"></script>
  </body>
</html>
